/* Body */

.container {
    background:rgba(255,255,255,0.8);
    border-radius: 25px;
    border: 2px solid dodgerblue;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 2em;
}

body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
         
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
         
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, orange 0%, yellow 100%);
    background-image: linear-gradient(120deg, orange 0%, yellow 100%);
}

h1 {
    font-family: 'Sniglet', cursive;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(to right, orange 0%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Righteous', cursive;
}

h3 {
    font-family: 'Sniglet', cursive;
    text-align: center;
    background: linear-gradient(to right, orange 0%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-family: 'Sniglet', cursive;
    color: gray;
    text-align: center;
    font-size: 20px;
}

h5 {
    font-family: 'Righteous', cursive;
}

h6 {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    color: #bbddff;
}

p {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
}

i {
    background: linear-gradient(to right, orange 0%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header - Nav */

.nav {
    background-color: dodgerblue;
}

#wizard {
    float: left;
    height: 90px;
    width: 90px;
}

#logo {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, orange 0%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home-search {
    font-family: 'Sniglet', cursive;
    margin-top: 1.5em;
    float: right;
    color: rgb(252, 236, 11);
}

/* Header - Carousel */

.carousel {
    padding-top: 1em;
    margin-top: 2em;
}

#carousel-ad {
    max-height: 380px;
    width: auto;
    text-align: center;
}

img.image-carousel-ad {
    max-height: 345px;
    max-width: 100%;
}

.carousel-control-prev {
    width: 50px;
    background: dodgerblue;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

.carousel-control-next {
    width: 50px;
    background: dodgerblue;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}


/* Content - Game Search */

label {
    color: gray;
}

#input-submit {
    background-color: dodgerblue;
    color: white;
    border: none;
}

/* Content - Trending & Similar cards */

#trending {
    margin-bottom: 80px;
}

.card {
    height: 210px;
    text-align: center;
    padding: 1em;
    overflow: hidden;
    display: inline-block;
    border-radius: 0px;
}

.card-title {
    color:#999999;
}

.card-title:hover {
    color: black;
    text-decoration: underline;
}

.game-image {
    width: 140px;
}

/* Content - About */

#about {
    margin-bottom: 80px;
}

.about-link {
    line-height: 16px;
    font-size: 14px;
    color: #999999;
}

.about-link:hover {
    color: black;
    text-decoration: underline;
}

/* Results - List */

#result-list {
    min-height: 220px;
    margin-bottom: 80px;
}

h4:hover {
    color: dodgerblue;
    font-weight: bold;
    text-decoration: underline;
}

/* Results - Main */

#result {
    padding-top: 1em;
    margin-top: 2em;
    width: 100%;  
}

#result-main-image {
    max-height: 100%;
    max-width: 100%;
}

#result-main-title {
    margin-bottom: 10px;
}

.clearfix {
    overflow: auto;
  }


.text-category {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #999999;
}

/* Result - Similar */

#similar {
    margin-bottom: 80px;
}

/* Footer */

#footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
    margin-top: 30px;
    width: 100%;
    background-color: dodgerblue;
}

a.footer-link {
    color: #bbddff;
}